@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

h1 {
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

.bg {
    background: rgb(255,255,255);
    background: linear-gradient(20deg, rgba(255,255,255,1) 0%, rgb(234, 179, 102) 100%);
}

.table-dark{
    background-color: rgb(20, 20, 20);
}

.card{
    max-width: 350px;
    margin: 30px;
    background-color: #242424;
    
}


form {
    padding: 50px;
    background-color:rgb(190, 189, 189);
    font-family: 'Poppins', sans-serif;
}


label {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}



#cim {
    margin-left: 70px;
    font-family: 'Poppins', sans-serif;
}

#etelek {
    background-color: rgb(20, 20, 20);
    color: white;
}



mat-card-header, mat-card-content{
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

mat-card-title {
    background-color: white;
    color: black;
    font-size: x-large;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    width: 100%;
}

/* td{
    width: 50%;
} */
button{
    background: rgb(165, 113, 113);
    border: none;
}