<div fxLayout="column" fxFlexFill>
    <div class="header"></div>
    <mat-toolbar class="fixed-navbar mat-elevation-z10">
  
      <mat-toolbar-row>
        <div>
          <a mat-button> Főoldal </a>
          <a mat-button [routerLink]=""> idk </a>
          <a mat-button [routerLink]=""> idk </a>
          <a mat-button> Profil </a>
          <a mat-button [routerLink]="['']"> Kijelentkezés </a>
  
  
        </div>
  
        <span class="fill-space"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <h1>The main page of futar with the id: {{futarId}}</h1>
    <router-outlet></router-outlet>
  </div>