@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');



.page {
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: -webkit-fill-available;
    
    /*background: linear-gradient(0deg, rgba(249,126,102,1) 0%, rgba(249,233,181,1) 100%);*/
}


.mycontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    max-height: 86%;
    width: 90%;
    overflow: hidden;
}

.grid-item {
    max-width: 100%;    
    height: 1000px;
    margin: auto;
}
  
#etelek{
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 0px;
    background: rgb(250,31,31);
    background: linear-gradient(0deg, rgba(250,31,31,0.7874207228757022) 0%, rgba(249,233,181,1) 100%);
    
}

#form {
    margin-top: 20px;
    margin: auto;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    
}

.card{
    max-width: 600px;
    margin: 70px;
    background-color: #242424;
    font-family: 'Poppins', sans-serif;
 
}


form {
    padding: 50px;
    background-color:rgb(190, 189, 189);
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}


label {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}



#cim {
    margin-left: 70px;
    font-family: 'Poppins', sans-serif;
}

#etelei {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 0px;
}

mat-card-title {
    background-color: white;
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #111; 
  }