<app-futar-home></app-futar-home>

<div class="bg">
  
    <br>
  <table style="width:100%">
    <tr>

      <th><h2>Beérkezett rendelések</h2></th>
      <th><h2>Aktív rendelések</h2></th>
     
    </tr>
    <tr>
        <td>
            <mat-card *ngFor="let item of beerkezettRendelesek" class="card">
                
                <mat-card-header>
                  <mat-card-title>Rendelés azonosítója: {{item.RendelesID}}</mat-card-title>
                </mat-card-header>
            
                <mat-card-content>
                  <table class="table table-dark" style="padding: 0px;">
                    <tbody>
                      <tr>
                        <td>Szállítási cím</td>
                        <td>{{item.Cim}}</td>
                      </tr>
                      <tr>
                        <td>Leadás időpontja</td>
                        <td>{{item.Prioritas}}</td>
                      </tr>
                      <tr>
                        <td>Prioritás</td>
                        <td>{{item.RendeloID}}</td>
                      </tr>
            
                    </tbody>
                  </table>
                </mat-card-content>
            
                <mat-card-content>
                  <button type="button" class="btn btn-primary" (click)="rendelesElfogadasa()">Elfogadás</button>
                  <button type="button" class="btn btn-primary" (click)="rendelesElutasitasa()">Elutasítás</button>
                  //TODO 
                  <!-- ide fv-ek -->
                </mat-card-content>
            
              </mat-card>
        </td>
        <td>
            <mat-card *ngFor="let item of aktivRendelesek" class="card">

                <mat-card-header>
                  <mat-card-title>Rendelés azonosítója: {{item.RendelesID}}</mat-card-title>
                </mat-card-header>
            
                <mat-card-content>
                  <table class="table table-dark" style="padding: 0px;">
                    <tbody>
                      <tr>
                        <td>Szállítási cím</td>
                        <td>{{item.Cim}}</td>
                      </tr>
                      <tr>
                        <td>Leadás időpontja</td>
                        <td>ez nem jön át</td>
                      </tr>
                      <tr>
                        <td>Prioritás</td>
                        <td>{{item.Prioritas}}</td>
                      </tr>
                    </tbody>
                  </table>
                </mat-card-content>
            
                <mat-card-content>
                  <button type="button" class="btn btn-primary">Kézbesítve</button>
                </mat-card-content>
            
              </mat-card>
        </td>
    </tr>

  </table>
</div>

