<div fxLayout="column" fxFlexFill>
  <div class="header"></div>
  <mat-toolbar class="fixed-navbar mat-elevation-z10">

    <mat-toolbar-row>
      <div>
        <a mat-button> Főoldal </a>
        <a mat-button [routerLink]="['/etterem',etteremId,'etelek']"> Ételek </a>
        <a mat-button [routerLink]="['/etterem',etteremId,'kategoriak']"> Menü kategóriák szerkesztése </a>
        <a mat-button> Profil </a>
        <a mat-button [routerLink]="['']"> Kijelentkezés </a>


      </div>

      <span class="fill-space"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  
</div>

<router-outlet></router-outlet>